<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Title</title>
</head>
<body>


<th:block th:fragment="menu-menu">
<div class="container">
    <a th:href="@{/}" class="brand-logo">gif<span>.</span>lib</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li class="active"><a th:href="@{/}">Explore</a></li>
        <li><a th:href="@{/categories}">Categories</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li><a href="/connect/hello"><img src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png"
                 alt="HTML5 Icon" width="35" height="35" style="margin-Top:+12px">
        </li></ul>
    </ul>
    <ul id="mobile-nav" class="side-nav">
        <li class="active"><a th:href="@{/}">Explore</a></li>
        <li><a th:href="@{/categories}">Categories</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
    </ul>
</div>
</th:block>
</body>
</html>